<p>This voice is distributed under the <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons — Attribution 4.0 International — CC BY 4.0 license.</a></p>
<p>Team</p>
<p>- Magda Roczeń - Speaker.</p>
<p>- Roman Roczeń - audio editing.</p>
<p>- Grzegorz Złotowicz - voice training, package preparation.</p>
